{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <main>
        <div class="container">
            <div class="create">
                <form method="post" id="delete_rule" action="{% url 'delete rule' pk %}">
                    <h1 class="text-center">Are you sure you wish to delete this rule?</h1>
                    <small style="margin-left: 37%">Warning: Deleted rules will disappear forever!</small>
                    {% csrf_token %}
                    <div class="col" style="margin:1.5%">
                        <div class="create__footer" style="display: block">
                            <a href="{% url 'forum rules' %}" style="position: center"
                               class="create__btn-cancel btn btn-success">Cancel</a>
                            <a href="javascript:;"
                               onclick="document.getElementById('delete_rule').submit();"
                               class="create__btn-create btn btn-danger" style="margin-left: 72%; margin-bottom: 1%">Delete
                                Rule</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}