{% load static %}
    <footer style="position: absolute; width:100%; bottom: 0; height: 2.5rem">
        <div class="footer js-dropdown">
            <div class="container">
                <div class="footer__logo">
                    <div>
                        <img src="{% static 'media/Logo.png' %}" alt="logo">TalkX
                    </div>
                </div>
                <div class="footer__nav">
                    <div class="footer__tline">
                        <ul class="footer__menu" style="margin-left: 33.5%">
                            <li><a href="#">Support</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">The Team</a></li>
                        </ul>
                        <div class="footer__language">
                        </div>
                    </div>
                    <div class="footer__tline" style="margin-left: 29.5%">
                        <ul class="footer__menu">
                            <li class="footer__copyright"><span>&copy; 2020 TalkX Forums</span></li>
                            <li><a href="#">Teams</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Send Feedback</a></li>
                        </ul>
                </div>
            </div>
        </div>
        </div>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/velocity.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>