{% load static %}
<header>
        <div class="header js-header js-dropdown">
            <div class="container">
                <div class="header__logo">
                    <h1>
                        <a href="{% url 'index' %}"><img src="{% static 'media/Logo.png' %}" alt="logo"></a>
                    </h1>
                    <div class="header__logo-btn"><a href="{% url 'index' %}">
                        TalkSpot</a>
                    </div>
                </div>
                <div class="header__search">
                    <form action="{% url 'index' %}?sort={{ sort_by }}&q={{ query }}" method="get">
                        <label>
                            <i class="icon-Search js-header-search-btn-open"></i>
                            <input type="search" placeholder="Search for threads" class="form-control" value="{{ query }}" name="q" id="searchQuery">
                        </label>
                    </form>

                </div>
                <div class="header__user">
                    {% if user.is_authenticated %}
                    <div class="header__user-btn" data-dropdown-btn="user">
                        <img src="https://eu.ui-avatars.com/api/?name={{ user.username }}&size=128'&background=random&length=1&rounded=true&uppercase=true" alt="avatar">
                        {{ user.username }}<i class="icon-Arrow_Below"></i>
                    </div>
                    {% else %}
                        <span><a href="{% url 'login user' %}">Login</a>/</span>
                        <span><a href="{% url 'register user' %}">Register</a></span>
                    {% endif %}
                    <nav class="dropdown dropdown--design-01" data-dropdown-list="user">
                        <div>
                            <ul class="dropdown__catalog">
                                <li><a href="{% url 'user profile' request.user %}">My Profile</a></li>
                                <li><a href="{% url 'my threads' %}">My Threads</a></li>
                                <li><a href="{% url 'logout user' %}">Logout</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="header__offset-btn">
                <a href="{% url 'create thread' %}"><img src="{% static 'media/New_Topic.svg' %}" alt="New Post"></a>
                </div>
            {% endif %}
            </div>
        </div>
    </header>
