<head>
    {% load static %}
</head>
<div style=" border: 1px solid rgba(190,190,190, .5); margin-bottom: 2%">
<div style="padding: 2%">
	<div>
		<a href="" title="View {{ reply.user }}'s profile" ><span class=><img alt="" src="https://eu.ui-avatars.com/api/?name={{ reply.user }}&size=128%27&background=random&length=1&rounded=true&uppercase=true" class="avatar avatar-80 photo" height="80" width="80"></span><br><span style="margin-top: 8%">{{ reply.user }}</span></a>
	</div>
	<div class="reply-content">
        {{ reply.text }}
	</div>
{#    {% if reply.user == request.user %}#}
{#                <div style="margin-left: 84%">#}
{#                    <a  href="" class="btn">Edit</a>#}
{#                    <a href="" class="btn">Delete</a>#}
{#                </div>#}
{#        {% else %}#}
{#                <div style="margin-left: 92%">#}
{#                    <a  href="" class="btn">Reply</a>#}
{#                </div>#}
{#    {% endif %}#}
</div>
</div>
</article>