{% extends 'base.html' %}
{% block content %}
<div class="container formMargin">
    <h1 class="text-center">Login</h1>
    <form method="post" action="{% url 'login user' %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password }}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>

                        <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!
                    </strong>{{ message }}
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}