{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <main>
        <div class="container">
            <div class="create">
                <form method="post" id="create_post" action="{% url 'create thread' %}">
                    {% csrf_token %}
                    <div class="create__head">
                        <div class="create__title"><img src="{% static 'media/New_Topic.svg' %}" alt="New topic">Create
                            New Thread
                        </div>
                        <span><a href="{% url 'forum rules' %}">Forum Rules</a></span>
                    </div>
                    <div class="create__section">
                        <label class="create__label" for="name">Thread Title</label>
                        <input type="text" class="form-control errors" name="name" id="name" placeholder="Add here">
                        {{ form.name.errors }}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="create__section">
                                <label class="create__label" for="category">Select Category</label>
                                <label class="custom-select" id="category">
                                    {{ form.category }}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="create__section">
                                <label class="create__label" for="tags">Add Tag</label>
                                <label class="custom-select" id="tags">
                                    {{ form.tag }}
                                </label>
                            </div>
                        </div>
                        <div class="create__section create__textarea" style="margin-left:1.5%">
                            <label class="create__label" for="description">Description</label>
                            <textarea style="width: 900px; height: 300px;" class="form-control" name="description" id="description"
                                      placeholder="Lets write something cool!"></textarea>
                            {{ form.description.errors }}
                        </div>
                        <div class="create__advanced">
                            <div class="row" style="margin-left:1.5%">
                                <div class="col-lg-2 col-xl-5">
                                </div>
                                <div class="col" style="margin:1.5%">
                                    <div class="create__footer" style="display: block">
                                        <a href="javascript:;"
                                           onclick="document.getElementById('create_post').submit();"
                                           class="create__btn-create btn btn--type-02">Create Thread
                                        </a>
                                        <a href="{% url 'index' %}" class="create__btn-cansel btn">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}