<div class="posts__item">
    <div class="posts__section-left">
        <div class="posts__topic">
            <div class="posts__content">
                <a href="{% url 'thread details' post.pk %}">
                    <h3>{{ post.name }}</h3>
                </a>
                <div class="posts__tags tags">
                    <a href="#" class="{{ post.tag.color }}">{{ post.tag }}</a>
                </div>
                {% if is_superuser %}
                    <div>
                        <a href="{% url 'edit thread superuser' post.pk %}" class="btn btn-warning" style="padding: 6px 9px; font-size: 15px;">Edit</a>
                        <a href="{% url 'delete thread superuser' post.pk %}" class="btn btn-danger" style="padding: 6px 9px; font-size: 15px;">Delete</a>
                    </div>
                {% endif %}
                {% if show_buttons %}
                    <div>
                        <a href="{% url 'edit thread' post.pk %}" class="btn btn-warning" style="padding: 6px 9px; font-size: 15px;">Edit</a>
                        <a href="{% url 'delete thread' post.pk %}" class="btn btn-danger" style="padding: 6px 9px; font-size: 15px;">Delete</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="posts__category"><a href="#" class="category"><i
                class="{{ post.category.color }}"></i> {{ post.category }}</a>
        </div>
    </div>
    <div class="posts__section-right">
        <div class="posts__users">
        </div>
        <div class="posts__replies">{{ post.replies }}</div>
        <div class="posts__views">{{ post.views }}</div>
        <div class="posts__activity"></div>
    </div>
</div>
