{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="container">
            <div class="create">
                <div class="posts__section-left">
                    <div style="margin-left: 55%; padding-right: 1%;margin-bottom: 0.2%">Category:</div>
                    <div class="posts__category"><a href="#" class="category"><i
                            class="{{ post.category_color }}"></i> {{ post.category }}</a>
                    </div>
                    <div style="padding-right: 1%;margin-bottom: 0.2%">Tag:</div>
                    <div style="margin-bottom: 0.1px" class="posts__tags tags">
                        <a href="#" class="{{ post.tag_color }}">{{ post.tag }}</a>
                    </div>
                </div>
                <h3 class="text-center" style="border-bottom: 1.5px solid lightgray">{{ post.name }}</h3>
                <p class="text-center">{{ post.description }}</p>
                <div class="col" style="margin:1.5%">
                    <div class="create__footer" style="display: block">
                    </div>
                </div>
                <div style="margin-left: 1.5%">Comments: {{ comments_count }}</div>

                <div class="create__section create__textarea" style="margin-left:1.5%">
                    <label class="create__label" for="description">Comment as <a href=""
                                                                                 style="color:#0A85BB">{{ user }}</a>
                    </label>
                    <div class="create__textarea-head">
                        <span><i class="icon-Quote"></i></span>
                        <span><i class="icon-Bold"></i></span>
                        <span><i class="icon-Italic"></i></span>
                        <div class="create__textarea-separate"></div>
                        <span><i class="icon-Share_Topic"></i></span>
                        <span><i class="icon-BlockQuote"></i></span>
                        <span><i class="icon-Performatted"></i></span>
                        <span><i class="icon-Upload_Files"></i></span>
                        <span class="create__textarea-separate"></span>
                        <span><i class="icon-Bullet_List"></i></span>
                        <span><i class="icon-heading"></i></span>
                        <span><i class="icon-Horizontal_Line"></i></span>
                        <span><i class="icon-Emoticon"></i></span>
                        <span><i class="icon-Settings"></i></span>
                        <span><i class="icon-Color_Picker"></i></span>
                    </div>
                    <form style="margin-bottom: 1.5%;" id="post_comment" method="POST"
                          action="{% url 'thread details' pk %}">
                        {% csrf_token %}
                        <textarea class="form-control" name="text" id="id_text"
                                  placeholder="Lets write something cool!"></textarea>
                        <a href="javascript:;"
                           onclick="document.getElementById('post_comment').submit();"
                           class="create__btn-create btn btn--type-02" style="margin-left: 85.5%">Post Comment</a>
                    </form>
                    <div style="border-bottom: 1.5px solid darkgray"></div>
                    <div style="margin-top: 1.5%">
                        {% for reply in replies %}
                            {% include 'forum/partials/reply.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}